* {
    box-sizing: border-box;
}
    header {
    background: url(assets/freedom.jpg) no-repeat 70% center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
.content {
    text-align: center;
    margin: 1.5rem 5rem;
    padding: .5rem 1rem;
    position: absolute;
    top: 5rem;
}
    
h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 4.5rem;
    margin-bottom: 1.5rem;
}
p {
    
    font-size: 1.3rem;
    font-style: italic;
}